body {
    background-color: #fff5f5;
    margin: 0;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 40px; 
    padding: 20px;
    background-color: #fff5f5;
}

.flag {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap; 
}

nav a {
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #fff5f5;
    transition: 0.3s;
}

nav a:hover {
    background-color: #ffeaea;
}

button {
    background-color: #fff5f5;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #ffeaea;
}

.flag-section {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    height: 350px;
    position: relative;
    border-radius: 40px;
}

.green {
    background-color: #4ca47c;
    width: 33%;
}

.white {
    background-color: #ffffff;
    width: 33%;
}

.red {
    background-color: #d66565;
    width: 33%;
}

.quote {
    position: absolute;
    font-size: 32px;
    color: #000;
    width: 85%;
    line-height: 1.5;
}

.flags{
    height: 400px;
    width: 1000px;
}

